<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
    <title>Embeded Header</title>

</head>

<body>
    <header class="esteHeader">
        <div>
            <div>
                <i class="fa-solid fa-vector-square"></i>
                <h1>Border-Box</h1>
            </div>
            <form>
                <input type="text">
                <select name="Filtro">
                    <option value="0">Teclados</option>
                    <option value="1">Mouses</option>
                    <option value="2">Auriculares</option>
                    <option value="3">Ofertas</option>
                </select>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <span>
                <div><i class="fa-solid fa-location-dot"></i><a>Ubicacion</a></div>
                <div><i class="fa-solid fa-user"></i><a>Usuario</a></div>
                <div><i class="fa-solid fa-cart-shopping"></i><a>Carrito</a></div>
            </span>
        </div>
        <div>

            <nav>
                <ul>
                    <li><a href=>Teclados</a></li>
                    <li><a href=>Mouses</a></li>
                    <li><a href=>Auriculares</a></li>
                    <li><a href=>Ofertas</a></li>
                </ul>
            </nav>

            <span>
                <div><a>about Us</a></div>
            </span>
        </div>
    </header>
</body>

</html>